BODY {padding: 0; margin: 0; font: 12px Verdana; background: #F9F9F9}
TD, TR, P {font: 12px Verdana}

A {color: #28428B}
A:hover {color: orange}
	
#top {background: #BEDEB3; width: 100%; padding-top: 10px; float: left}
#title {float: left; width: 40%; font: bold 18px Arial}
#logout {float: right; width: 50%; text-align: right; font: 11px Verdana; margin-right: 15px}
	
.tab {float: left;background: #638658;border-top:1px solid #638658;border-left:1px solid #638658;border-right:1px solid #638658; padding: 10px 20px; margin-right: 3px }
.tab A {font: 14px Arial; color: #FFF}
.tab A:hover {color: #BEDEB3}

.selectedTab {float: left;background: #F9F9F9;border-top:1px solid #638658;border-left:1px solid #638658;border-right:1px solid #638658; padding: 10px 20px; margin-right: 3px }
.selectedTab A {font: 14px Arial; color: black}
.selectedTab A:hover {color: #BEDEB3}

.clearTab {float: left;padding: 10px 20px; margin-right: 3px }
.clearTab A {font: bold 14px Arial; color: #000}
.clearTab A:hover {color: #638658}
	
#tabs {margin-top: 15px; margin-left: 15px}
#search {float: right; width: 50%; text-align: right; margin-top: 20px; margin-right: 15px}
IMG.icon {margin: 0px 5px 0px 0px; position: relative; top: 2px; border:none;}
	
.input {border: 1px solid #000; font: 14px Arial;}
.button {border-top: 1px solid #DDD; border-left: 1px solid #DDD;
border-right: 1px solid #666; border-bottom: 1px solid #666; cursor: pointer; padding: 0px 5px; font: bold 12px Arial; }
.button:hover, .largeButton:hover  {background: #46A337; color: #FFF}
.largeButton {border-top: 1px solid #DDD; border-left: 1px solid #DDD;
border-right: 1px solid #666; border-bottom: 1px solid #666; cursor: pointer; padding: 0px 20px; font: bold 14px Arial; }

A.buttonSecondary {margin-left: 20px; font-weight: bold; color: #333}
A.buttonSecondary:hover {background: red; color: #FFF}

.tableHead {width: 97%; margin: 0 1%; background: #C4C4C4;}
.tableHeadBar {height: 30px}
.tableTitle {font: bold 14px Arial; color: #000}
.generalTable {width: 97%; margin: 0 1%}
.generalTable TR {background:  url('Images/bg.gif') repeat-x 0px 0px;}
.generalTable .headRow {background: #E5E5E5; vertical-align: middle} 
.generalTable .footerRow TD {background: #E5E5E5; vertical-align: top; border-top: 1px solid #CCC}
.generalTable .footerRow TD TABLE TR TD {background: #E5E5E5; vertical-align: top; border-top: none; font-size: 11px}
TH {text-align: left;}
	
.innerTable TR {background:  url('Images/bg.gif') repeat-x 0px 0px;}
		
.infoTable TD {font-size: 12px}
	
.blueLeftSep {background: url('images/blue_vertical.gif') repeat-y 0px; padding-left: 23px; padding-top: 5px; padding-bottom: 5px; width: 80%; font-size: 11px; height: 100%}
.grayTitle {background: #E5E5E5;}
.gray {background: #CCC;}
.grayTitleText {color: #444;}
.grayTitle DIV {font-size: 12px}

#footer {background:  url('Images/bg.gif') repeat-x bottom; height: 7px; margin-top: 40px}
#copy {width: 80%; font: 10px Verdana; margin-top: 7px; padding: 0px 1%}

.fieldName {font: 11px Verdana; color: #666}
	
.tabInnerPanel {
	PADDING-RIGHT: 0px; 
	display:block;
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	FLOAT: left;
	WIDTH: 90%;
	PADDING-TOP: 0px; BORDER-BOTTOM: #46a337 1px solid; TEXT-ALIGN: left
}
.tabInner
{
	 BORDER-RIGHT: #46a337 1px solid;
	 PADDING-RIGHT: 15px; 
	 BORDER-TOP: #46a337 1px solid; 
	 DISPLAY: block; 
	 PADDING-LEFT: 15px; 
	 FONT-WEIGHT: bold; 
	 BACKGROUND: #bce2b1; 
	 FLOAT: left; 
	 PADDING-BOTTOM: 5px; 
	 MARGIN: 0px 2px; 
	 BORDER-LEFT: #46a337 1px solid; 
	 CURSOR: pointer; 
	 PADDING-TOP: 5px; 
	 BORDER-BOTTOM: #46a337 1px; 
	 LIST-STYLE-TYPE: none
}

.tabInnerSelected
{
     BORDER-RIGHT: #46a337 1px solid;
	 PADDING-RIGHT: 15px; 
	 BORDER-TOP: #46a337 1px solid; 
	 DISPLAY: block; 
	 PADDING-LEFT: 15px; 
	 FONT-WEIGHT: bold; 
	 FLOAT: left; 
	 PADDING-BOTTOM: 5px; 
	 MARGIN: 0px 2px; 
	 BORDER-LEFT: #46a337 1px solid; 
	 CURSOR: pointer; 
	 PADDING-TOP: 5px; 
	 BORDER-BOTTOM: #46a337 1px; 
	 LIST-STYLE-TYPE: none;
     BACKGROUND: #F9F9F9;  
     POSITION: relative; 
     TOP: 1px; 
     BORDER-BOTTOM-STYLE: none;
}

.tabInnerContent
{
  background: #F9F9F9;
  clear: both;
   padding-top: 5px;
}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.commentPopup 
{
	background-color:#F4F4F4;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:510px;
}

.loadBar {padding: 2px 5px; background-color: #FFB10A; font: bold 13px Arial; color: #FFF; margin-left: 5px}
.votePanel{background: url(Images/vote.gif); width: 55px; height: 55px;}
.votesCount{font: bold 18px Arial;}
.voteLabel{font-size: 11px;}
.requestName{font-size: 14px; font-weight: bold;} 

.wordHighlight {font-weight:bold; color:red;}